# import library

In [8]:
import pandas as pd
import numpy as np

# C A DATA F

In [9]:
cot_num = pd.DataFrame(np.random.rand(15,1),columns=['Random'])

In [10]:
cot_num

      Random
0   0.247319
1   0.008513
2   0.513998
3   0.241724
4   0.087883
5   0.262684
6   0.440706
7   0.928758
8   0.490375
9   0.253858
10  0.027687
11  0.970681
12  0.641508
13  0.582755
14  0.885678

# creating a data frame

In [12]:
disc_num = pd.DataFrame(np.random.randint(0,2,15),columns=['Discreate'])

In [17]:
disc_num

    Discreate
0           0
1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10          1
11          1
12          1
13          1
14          0